<div class="container">

    <div class="panel panel-default" ><!--style="margin-bottom: 5px;"-->
        <div class="panel-heading" ><!--style="margin: 10px;margin-bottom: 0;height: 45px"-->
            <h3 class="panel-title" ><!--style="line-height: 40px;"-->
                测试数据列表<span style="font-size: 12px">(共{{totalItems}}条记录)</span>
                <button type="button" ng-click="openForm('md')" class="btn btn-primary" style="float: right">新建</button>
            </h3>
        </div>
        <div class="panel-body" style="min-height: 440px">
            <div class="table-responsive">
                <table class="table  table-hover">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>名称</th>
                        <th>日期</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="tbean in tbeans">
                        <td>{{tbean.id}}</td>
                        <td>{{tbean.name}}</td>
                        <td>{{tbean.saveDate | date :'yyyy-MM-dd HH:ss'}}</td>
                        <td>
                            <ul class="list-unstyled">
                                <li style="float:left"><a href="#/test-case/{{tbean.id}}">查看</a> |</li>
                                <li style="float:left"><a ng-click="delete(tbean.id,$index)">删除</a></li>
                            </ul>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer text-right" ><!--style="padding: 0;"-->
            <!--style="margin: 5px 0 0 0;"-->
            <ul uib-pagination total-items="totalItems" max-size="5"  boundary-link-numbers="true" items-per-page="pageSize" ng-model="currentPage" ng-change="pageChanged()"></ul>
        </div>
    </div>
</div>